/**
 *
 * specific carto styles
 */


.block-carto {
    position: relative;
    overflow: auto;
/*    width: 100%;*/
}

.block-carto-filter {
    position: relative;
    overflow: auto;
/*    float: left;*/
    width: 100%;
}

#velden {
    position: relative;
    overflow: auto;
    width: 100%;
}

.buttonbar {
    position: relative;
    float: left;
    width: 100%;
}

/**
 * overrule some mappingwidgets styles
 */
div.simplemap {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

div.simplelegend {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.gpx-option {
    margin-left: 20px;
}

